@font-face {
  font-family: "bootstrap-icons";
  src: url("../assets/bootstrap-icons.woff2") format("woff2"), url("../assets/bootstrap-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bootstrap-icons";
  src: url("../assets/bootstrap-icons.woff2") format("woff2"), url("../assets/bootstrap-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "bootstrap-icons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  background: #212529;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  height: 100vh;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #343a40;
  color: white;
  font-family: "bootstrap-icons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
nav {
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}
#lmao {
  transform: scale(0.5) transform(0,0);
}
nav span {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  z-index: 10;
}
nav #controls {
  padding: 0px;
}
nav #controls div {
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5333333333);
  width: 50px;
  height: 30px;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #controls div:hover {
  background: rgba(255, 255, 255, 0.0666666667);
  color: rgba(255, 255, 255, 0.6);
}
nav #controls div:active {
  background: rgba(255, 255, 255, 0.1333333333);
  color: rgba(255, 255, 255, 0.6666666667);
}
nav #controls div#close {
  transition: 100ms;
}
nav #controls div#close:hover {
  background: #f33;
  transition: 100ms;
  color: #fff;
}
nav #controls div#close:active {
  background: #f33;
  color: #fff;
}

aside {
  padding: 0px;
  height: calc(100vh - 44px);
  min-width: 200px;
  max-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
aside span {
  width: 200px;
  margin-bottom: 68px;
}
aside span a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px;
  font-size: 18px;
  transform: translateY(10px);
  transition: 200ms ease-out;
}
aside span a:hover {
  text-decoration: none;
  background: #343a40;
}
aside span a span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 7px;
  width: 24px;
  height: 20px;
  margin-bottom: 0px;
}
aside div {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 200px;
  padding: 0px;
  border: 1px solid #495057;
  transform: translateY(10px);
  transition: 200ms ease-out;
}
aside div a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 10px;
  font-size: 18px;
  transition: 200ms ease-out;
}
aside div a:hover {
  text-decoration: none;
  background: #343a40;
}
aside div a span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 7px;
  width: 24px;
  height: 24px;
  margin-bottom: 0px;
}

main {
  border-top-left-radius: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 33px);
  width: 100vw;
  background: #121313;
}
main center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .muted {
  color: #6c757d;
}
main * {
  transition: opacity 200ms ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

a {
  color: #0dcaf0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

loading {
  min-width: 20px;
  min-height: 20px;
  border: 3px solid #212529;
  border-top: 3px solid #343a40;
  border-radius: 50%;
  -webkit-animation: 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) spinner;
          animation: 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) spinner;
  transition: opacity 200ms ease-in-out;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#modalcontainer {
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0, 0.5333333333);
  opacity: 0;
  transition: 200ms ease-out;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#modalcontainer #modal {
  padding: 0px 10px;
  background: #212529;
  border-radius: 10px;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  opacity: 0;
  transition: opacity 200ms ease-out;
  width: 500px;
  display: flex;
  flex-direction: column;
}
#modalcontainer #modal #topsection {
  padding: 10px 0px 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px #343a40 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modalcontainer #modal #topsection button {
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.5333333333);
  font-family: "bootstrap-icons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalcontainer #modal #topsection button:hover {
  color: rgba(255, 255, 255, 0.8);
}
#modalcontainer #modal main {
  all: revert;
}

*::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background: #121313;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 6px;
  border: 2px solid #121313;
}
*::-webkit-scrollbar-thumb:hover {
  background: #343a40;
}

*:focus-visible {
  outline: 2px solid #0dcaf0;
  border-radius: 4px;
  transition: 0s ease-in-out;
}
input[type=installAdd] {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card {
  background: #6c757d;
  width: 155px;
  height: 235px;
  margin: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 1s cubic-bezier(0.15, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  border: none;
  color: #fff;
}
.card:hover {
  transform: perspective(90px) rotateX(2deg) scale(1.1) translateY(-3px);
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
}
.card:active {
  transform: perspective(90px) rotateX(1deg) scale(1.05) translateY(-2px);
  box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.4);
}

#store h2 {
  margin: 10px 0px;
}
#store div {
  display: inline-block;
  overflow-x: auto;
  column-count: 3;
  column-gap: 0;
}
#store div button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 325px;
  height: 200px;
  padding: 0px;
  border: none;
  transition: 1s cubic-bezier(0.15, 0.8, 0.25, 1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
#store div button:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.4);
}
#store div button div {
  width: 100%;
  height: 70px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(7px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}
#store div button div img {
  height: 70px;
  width: 70px;
  border-radius: 14px;
}
#store div button div span {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#settings {
  margin: 10px 0px;
}
#options {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
#options button, #options label {
  border: none;
  background: transparent;
  color: #fff;
  display: flex;
  padding: 5px;
  border-right: 1px solid #212529;
  cursor: pointer;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#options button span, #options label span {
  transform: translateY(2px);
  margin-left: 5px;
}
#options button span.open, #options label span.open {
  transform: rotate(180deg);
}
#options button:first-child, #options label:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#options button:last-child, #options label:last-child {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#options button:hover, #options label:hover {
  background: rgba(33, 37, 41, 0.4980392157);
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #343a40;
}
#library {
  width: 100%;
}
#library div:first-child {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #6c757d;
}
#library div:not(div:first-child) {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #212529;
  border-radius: 10px;
  margin-bottom: 10px;
}
#library div:not(div:first-child):hover {
  transform: translateY(-3px);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#library span {
  padding: 5px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#library span:nth-child(1) {
  width: 60px;
}
#library span:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
}
#library span:nth-child(3) {
  width: 60px;
}
#library span:nth-child(4) {
  width: 110px;
}
#library span:nth-child(5) {
  width: 27px;
  margin-right: 10px;
}
context {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background: #121313;
  border-radius: 8px;
  display: none;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
}
context button {
  border: none;
  height: 30px;
  width: 90px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
context button:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
context button:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
context button:hover {
  background: rgba(33, 37, 41, 0.4980392157);
}
context button:hover#del {
  background: #dc3545;
}

button.style, label.button {
  border: 1px solid #495057;
  border-radius: 8px;
  background: #343a40;
  color: #fff;
  transition: background 200ms ease-in-out;
  cursor: pointer;
  padding: 7px 13px;
  font-size: 13px;
  min-width: 60px;
}
button.styleMiddle, label.buttonMiddle {
  border: 1px solid #495057;
  border-radius: 8px;
  background: #343a40;
  color: #fff;
  transition: background 200ms ease-in-out;
  cursor: pointer;
  padding: 7px 13px;
  font-size: 13px;
  min-width: 60px;
  position: absolute;
  transform: translateY(350px) scale(150%);
}
button.style.blue, label.button.blue {
  background: #0d6efd;
}
button.style.red, label.button.red {
  background: #dc3545;
}
button.style.disabled, label.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button.style:hover:not(.disabled), label.button:hover:not(.disabled) {
  background: #495057;
}
button.style:hover:not(.disabled).blue, label.button:hover:not(.disabled).blue {
  background: #024dbc;
}
button.style:hover:not(.disabled).red, label.button:hover:not(.disabled).red {
  background: #bd2130;
}/*# sourceMappingURL=index.css.map */